DATABASE_URL=""
DATABASE_HOST=""
DATABASE_USER=""
DATABASE_PASSWORD=""
DATABASE_NAME=""

BLACKJACK_SESSION_SECRET=""
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""